beautifulsoup4==4.7.1
bs4==0.0.1
colorama==0.4.1
comtypes==1.1.7
numpy==1.16.2
opencv-python==4.0.0.21
Pillow==8.1.1
PyAutoGUI==0.9.42
PyGetWindow==0.0.4
PyMsgBox==1.0.6
pyperclip==1.7.0
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.20
python3-xlib==0.15
PyTweening==1.0.3
pywin32==224
pywinauto==0.6.6
six==1.12.0
soupsieve==1.8
selenium==3.141.0
urllib3==1.24.1